body {
    background-image: url(gradiente.png);
}

Canvas {
    background-color: white;
    border-radius: 10%;
    border-style: none;
    animation-name: animacion;
    animation-duration: 5;
    animation-iteration-count: infinite;
    margin-top: 50px;
}

@keyframes animacion {

    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
  
  }